.profile-container {
  width: 100%;
  height: 300px !important;

  .profile-bg {
    height: 100%;
    width: 100%;

    .profile-bg_wrapper {
      position: relative;

      img {
        min-height: 300px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: bottom;
      }

      .profile-bg_bot-mark {
        position: absolute;
        bottom: 0;
        transform: translateY(0);
        height: 100px;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
    }
  }

  .profile-content {
    width: 100%;
    .layout-topbar {
      margin-bottom: 12px;

      .mhy-topbar {
        position: relative;

        .mhy-topbar_container {
          padding: 0 40px;
          background-color: #fff;
          border-bottom: 1px solid #f1f4f9;

          .account-center-topbar_container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 80px;

            .account-cetner-avatar-wrap {
              height: 56px;

              .mhy-avatar {
                position: relative;
                top: -80px;
                left: 0;
                width: 112px;
                height: 112px;
                cursor: pointer;

                .mhy-avatar_img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50%;
                  border: 1px solid #f1f4f9;
                  vertical-align: top;
                }

                .mhy-avatar_pendant {
                  position: absolute;
                  display: block;
                  left: 50%;
                  top: 50%;
                  width: calc((100% - 2px) * 1.3);
                  height: calc((100% - 2px) * 1.3);
                  transform: translate(-50%, -50%);
                  pointer-events: none;
                  z-index: 2;
                }
              }
            }

            .account-center-user-wrap {
              margin-left: 28px;
              height: 56px;
              transform: translateY(-56px);

              .account-center-basic-top {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 100%;

                .user-basic-nickname {
                  font-size: 22px;
                  color: #fff;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .mhy-account-title_level {
                  background-color: rgb(253, 191, 0);
                  margin-left: 8px;
                  padding: 0 2px;
                  border-radius: 3px;

                  min-width: 32px;
                  color: #fff;
                  flex-shrink: 0;
                  cursor: pointer;

                  span {
                    font-weight: bold;
                    font-size: 12px;
                    padding: 1px 0;
                    color: #fff;
                    text-align: center;
                  }
                }
              }
              .account-center-basic-bottom {
                display: flex;
                height: 100%;

                .account-center-basic-item {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;

                  &:hover {
                    .account-center-basic-num {
                      color: #657ef8;
                    }
                  }

                  .account-center-basic-num {
                    font-size: 24px;
                    color: rgba(0, 0, 0, 0.85);
                  }

                  .account-center-basic-name {
                    margin-left: 6px;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.45);
                  }

                  .account-center-basic-split {
                    color: #eceff4;
                    font-size: 14px;
                    margin: 0 12px;
                  }
                }
              }
            }

            .account-center-btn {
              position: absolute;
              padding: 6px 0 6px 20px;
              right: 0;
              top: -48px;
              cursor: pointer;

              .btn-follow {
                &:hover {
                  color: #fff;
                  background-color: #657ef8;
                }
              }
            }
          }
        }
      }
    }
  }

  .container {
    .content {
      .body-wrapper {
        .body-container {
          .mhy-data-lg {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            min-height: 500px;

            img {
              height: 150px;
              margin-bottom: 8px;
            }

            .mhy-data-lg_text {
              max-width: 560px;
              word-break: break-word;
              margin: 0 auto 0 auto;
              color: rgba(0, 0, 0, 0.45);
              text-align: center;
              line-height: 16px;
              font-size: 14px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
